body{
    background-color:aliceblue;
    color:black;
    margin-top: 10px;
    letter-spacing: 0.6;
    word-spacing: 1.0;
    margin: 10px;
}
.main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(30px,auto);
}
.main>a{
    background-color: aqua;
    border: 1px white solid;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
