{% extends 'main/nav.html' %}
{% load static %}
{% block title %}{{username}}/Setting{% endblock%}
{% block head%} 
<style>
    .del{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 2px;
        grid-auto-rows: 30vh;
    }
    .del>div:nth-child(even){
        background-color: antiquewhite;
        padding: 15px;
        text-align: center;
    }
    .del>div:nth-child(odd){
        background-color:rgba(172, 255, 47, 0.486);
        padding: 15px;
        text-align: center;
    }
</style>
{% endblock %}
{% block body %} 
<form action="delete" method="POST">
 {% csrf_token %}
 <div class="del">
    <div>
        <a href="chat/">Chat</a>
        </div>
     <div>
 Delete account:
 <br>   
<input type="submit" value="delete your account"/>
</form>
</div>
</div>
{% endblock %}