fieldset{
    height: 100%;
    overflow: scroll;
    border: 2px solid black;
}
#msg{
display: grid;
grid-template-columns: 100%;
grid-gap: 2px;
bottom: 0px;
position:absolute;
}
#msg>li:nth-child(odd){
      background-color: antiquewhite;
      padding: 2px;
}
#msg>li:nth-child(even){
    background-color:rgba(188, 255, 87, 0.767);
    padding: 2px;
}


#gap{
    height: 200px;
}
nav{
 display: grid;
 grid-template-columns: 100%;
 grid-auto-rows: 10%;
 background-color: antiquewhite;
 padding:10px;
}
nav>a>button{
 width: 100%;
}
nav>a{
 margin-top: 5px;
}
form{
    display: grid;
    grid-template-columns: 80vw 20vw;
    bottom: 0px;
    height: 6vh;
    position: fixed;
}
form>input{
    border-radius: 20px;

}
form>input[type="submit"]
{
    background-color: rgba(255, 8, 0, 0.623);
}
form>input[type="submit"]:hover
{
    background-color: rgba(0, 0, 255, 0.301);
}