#navigation{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 2px solid black;
}
#navigation>a{
    border: 1px white solid;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    font-size: larger;
    color: black;
}
body{
    background-color: aliceblue;
}